<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button >
    </ion-buttons>
    <ion-title>Discover places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="onFilterUpdate($event)" value="all">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="!relevantPlaces || relevantPlaces.length <= 0">
    <ion-row>
      <ion-col size-md='6' offset-md='3' class="ion-text-center">
        <p>There are no bookable places right now, sorry about that!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
 <ion-grid *ngIf="relevantPlaces.length > 0">
   <ion-row>
     <ion-col size-md='6' offset-md='3' class="ion-text-center">
      <ion-card>
        <ion-img [src]="relevantPlaces[0].image"></ion-img>
        <ion-card-header>
          <ion-card-subtitle color="danger">{{ relevantPlaces[0].price | currency}} / night</ion-card-subtitle>
          <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ relevantPlaces[0].descriptipon }}
        </ion-card-content>
        <div> 
          <ion-button color="primary"
          fill='clear'
          [routerLink]="['/places/tabs/discover/',relevantPlaces[0].id]"
          >More info...</ion-button>
        </div>
       
      </ion-card>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size-md='6' offset-md='3'>
      <ion-list>
        <ion-item 
        *ngFor="let place of relevantPlaces.slice(1)"
        [routerLink]="['/places/tabs/discover/', place.id]"
        >
          <ion-thumbnail slot="start">
            <ion-img [src]='place.image'></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ place.title }}</h2>
            <p>{{ place.descriptipon }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
